{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1>登录</h1>
    {% if form.errors %}
        <p>
            帐号密码不匹配。
            请重试
        </p>
    {% else %}
        <p>请填写登录框：</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="登录"></p>
        </form>
    </div>
{% endblock %}